
Stack/cmake-build-debug/.ninja_deps
Stack/cmake-build-debug/.ninja_log
Stack/cmake-build-debug/CMakeFiles/Stack.dir/main.cpp.obj
Stack/cmake-build-debug/Stack.exe
Stack/cmake-build-debug/Testing/Temporary/LastTest.log
Stack/main.cpp
Stack_Using_Linked_List/.idea/misc.xml
Stack_Using_Linked_List/.idea/modules.xml
Stack_Using_Linked_List/.idea/Stack_Using_Linked_List.iml
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/query/cache-v2
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/reply/cache-v2-fa649900eb7abaf5c54f.json
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-9d5f7d2303efd678d3a7.json
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5b405ec62b52840d1763.json
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/reply/index-2022-10-12T11-52-28-0587.json
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/reply/target-Stack_Using_Linked_List-Debug-a3b1034a03ab7190e40e.json
Stack_Using_Linked_List/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-40a45361301b1337b711.json
Stack_Using_Linked_List/cmake-build-debug/.ninja_deps
Stack_Using_Linked_List/cmake-build-debug/.ninja_log
Stack_Using_Linked_List/cmake-build-debug/build.ninja
Stack_Using_Linked_List/cmake-build-debug/cmake_install.cmake
Stack_Using_Linked_List/cmake-build-debug/CMakeCache.txt
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.exe
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.exe
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/clion-environment.txt
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/clion-log.txt
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/cmake.check_cache
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/CMakeOutput.log
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/rules.ninja
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/Stack_Using_Linked_List.dir/main.cpp.obj
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/Stack_Using_Linked_List.dir/Stack.cpp.obj
Stack_Using_Linked_List/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Stack_Using_Linked_List/cmake-build-debug/Stack_Using_Linked_List.exe
Stack_Using_Linked_List/cmake-build-debug/Testing/Temporary/LastTest.log
Stack_Using_Linked_List/CMakeLists.txt
